html,
body,
#react-root {
  height: 100%;
}

/* * {
  outline: red solid 1px;
} */

body {
  margin: 0px;
  background-color: #fcf4f8;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #171418;
  border-radius: 0;
  background: none;
  font: roboto;
  font-size: 2rem;
  color: #171418;
}

.btn_asLink:hover {
  background-color: transparent;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 1rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #e2d6f0;
  color: #171418;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 0.4);
}

h4 {
  padding-left: 10px;
  padding-right: 10px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

/* --------------------------------------------------------------------------------
List 
-------------------------------------------------------------------------------- */

ul {
  list-style: none;
  padding: 0;
}